#titles{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#first_pokemon, #VS, #second_pokemon{
    font-size: 40px;
    font-family: Helvetica;
    color: rgb(41, 97, 250);
}

#images_and_strenght{
    display: flex;
}

img{
    border-radius: 10px;
    border: 3px solid black;
    width: 250px;
    height: auto;
}

#Pokemon1Image{
    margin-left: 130px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#Pokemon2Image{
    margin-left: 15px;
}

#display{
    display: flex;
}

#first_pokemon_strenght{
    font-size: 25px;
    font-family: Helvetica;
   margin-left: 15px;
}

#second_pokemon_strenght{
    font-size: 25px;
    font-family: Helvetica;
    margin-left: 275px;
}


